<div class="uk-cover-container uk-light uk-flex uk-flex-middle top-wrap-height" id="home" uk-height-viewport>
    <!-- TOP CONTAINER -->
    <div class="uk-container uk-flex-auto top-container uk-position-relative uk-margin-medium-top"
        data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
        <div uk-grid>
            <div class="uk-width-1-2@s" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
                <h3 class="uk-text-primary uk-margin-small-bottom">CALL FOR </h3>
                <h2 class="uk-margin-remove-top"><strong>CELA KUTAISI REUNION</strong></h2>
                <p class="subtitle-text uk-visible@s">AUGUST 11-14, 2021 (KUTAISI, GEORGIA)</p>
                {{#if showAppForm}}
                {{!-- Countdown date --}}
                <div class="uk-grid-small uk-child-width-auto uk-padding-top" uk-grid
                    uk-countdown="date: 2021-08-11T00:00:00+00:00">
                    <div>
                        <div class="uk-countdown-number uk-countdown-days"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
                    </div>
                    <div class="uk-countdown-separator">:</div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-hours"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
                    </div>
                    <div class="uk-countdown-separator">:</div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-minutes"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
                    </div>
                    <div class="uk-countdown-separator">:</div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-seconds"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
                    </div>
                </div>
                {{/if}}
            </div>
            <div class="uk-width-1-2@s" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
                <h3 class="uk-text-primary uk-margin-small-bottom">CALL FOR </h3>
                <h2 class="uk-margin-remove-top"><strong>CELA SVANETI POST-REUNION</strong></h2>
                <p class="subtitle-text uk-visible@s">AUGUST 14–17, 2021 (SVANETI, GEORGIA)</p>
                {{#if showAppForm}}
                {{!-- Countdown date --}}
                <div class="uk-grid-small uk-child-width-auto uk-padding-top" uk-grid
                    uk-countdown="date: 2021-08-14T00:00:00+00:00">
                    <div>
                        <div class="uk-countdown-number uk-countdown-days"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
                    </div>
                    <div class="uk-countdown-separator">:</div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-hours"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
                    </div>
                    <div class="uk-countdown-separator">:</div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-minutes"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
                    </div>
                    <div class="uk-countdown-separator">:</div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-seconds"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>

    </div>
    <!-- /TOP CONTAINER -->
    <!-- TOP IMAGE -->
    <img src="/assets/georgia-1232023_1920.jpg" data-srcset="/assets/georgia-1232023_1920.jpg 640w,
				/assets/georgia-1232023_1920.jpg 960w,
				/assets/georgia-1232023_1920.jpg 1200w,
				/assets/georgia-1232023_1920.jpg 2000w" data-sizes="100vw" data-src="/assets/georgia-1232023_1920.jpg" alt=""
        data-uk-cover data-uk-img data-uk-parallax="opacity: 1,0.1; easing:0">
    <!-- /TOP IMAGE -->
</div>
<div class="uk-position-bottom-center uk-position-medium uk-position-z-index uk-text-center">
    <a href="#about" data-uk-scroll="duration: 500" data-uk-icon="icon: arrow-down; ratio: 2"></a>
</div>
</div>
<div class="uk-section" id="about">
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-2@s">
                <h2 class="uk-text-center uk-margin-remove cela-text-blue">
                    <strong>
                        CELA KUTAISI REUNION<br>
                        KUTAISI, GEORGIA<br>
                        AUGUST 11-14, 2021
                    </strong>
                </h2>
            </div>
            <div class="uk-width-1-2@s">
                <h2 class="uk-text-center uk-margin-remove cela-text-blue">
                    <strong>
                        CELA SVANETI POST-REUNION<br>
                        SVANETI, GEORGIA<br>
                        AUGUST 14 – 17, 2021
                    </strong>
                </h2>
            </div>
        </div>
        <p></p>
        <h4 class="uk-text-center uk-text-italic uk-margin-remove cela-text-red"><strong>REGISTRATION DEADLINE<br>FOR BOTH PROGRAMS: MAY 31 2021</strong></h4>
        <p></p>
        <div>
            <p>Dear friends,</p>
            <p>The CELA Georgia team is excited to host CELA Kutaisi Reunion (August 11-14) and CELA Svaneti Post-Reunion (August 14-17) and create a platform for fellows of four sister networks to connect, exchange experiences and make friends. </p>
            <p>The CELA Reunion 2021will be welcoming our friends from CELA, MELA, SEALA and SIBF and offering business development opportunities with show-casing of the beautiful country Georgia. </p>

            <p>
                <strong>CELA Kutaisi Reunion Program</strong><br>
                August 11 - Arrivals, Welcome Dinner<br>
                August 12 - High-Level Conference <br>
                August 13 - Sightseeing and Professional Program<br>
                August 14 - Departure
            </p>
            <p>
            <strong>CELA Post-Reunion Program*</strong><br>
            August 14 – Departure from Kutaisi to Svaneti <br>
            August 15 & 16 – Cultural Program in Svaneti<br>
            August 17 – Departure from Svaneti at noon to Kutaisi <br>
            <i>*Limited seats! CELA can accommodate only 40 people. Registrations are on a first-come, first-served basis. So, register early!</i>
            </p>
            <p>Detailed program with additional information will be provided later. If you plan to attend one or both programs, please fill out an online-registration form by May 31, 2021.</p>
        </div>
        <br>
        <div>
            <h3 class="cela-text-blue uk-text-center uk-text-bold">LOGISTICS INSTRUCTIONS</h3>
            <h4 class="cela-text-blue">ACCOMMODATION IN KUTAISI</h4>
            <p>Reunion participants will stay in the dormitory of Kutaisi International University. Please visit <a href="https://www.kiu.edu.ge">www.kiu.edu.ge</a>  for more information.</p>
            <h4 class="cela-text-blue">ACCOMODATION IN SVANETI</h4>
            <p> Post-Reunion participants will be placed in two hotels in Svaneti - <a href="https://www.facebook.com/reservation.shgedimestia">Hotel Shgedi Mestia</a> and <a href="https://www.facebook.com/HotelLahili">Hotel Lahili</a>.</p>
            <p>For those arriving early or leaving late, and needing help with extra accommodation, please contact Zara Janibekyan at <a href="mailto:zara@celanetwork.org">zara@celanetwork.org</a>. Every additional night at Kutaisi International University will cost 30USD for single and 35USD for double accommodation.</p>
            <h4 class="cela-text-blue">ARRIVAL AND DEPARTURE</h4>
            <p><a href="http://www.tbilisiairport.com">Tbilisi International Airport</a></p>
            <p><a href="http://www.kutaisi.aero">Kutaisi International Airport</a></p>
            <p><a href="http://batumiairport.com">Batumi International Airport</a></p>
            <p><i>CELA provides all airport pick-ups and drop offs. Your flight information will be requested later.</i></p>
            <h4 class="cela-text-blue">TRANSPORTATION AND AIRFARE</h4>
            <p>Participants are responsible for their own travel arrangements for arrival to and from Kutaisi/Tbilisi/Batumi to their home.</p>
            <h4 class="cela-text-blue">PAYMENT INSTRUCTIONS</h4>
            <p>The registration fee payment should be done through bank transfer, PayPal or credit card. For all financial issues, please contact Zara Janibekyan at <a href="mailto:zara@celanetwork.org">zara@celanetwork.org</a>.  <span class="cela-text-red">The deadline for the payment is MAY 31, 2021.</span></p>
            <h4 class="cela-text-blue">VISAS</h4>
            <p>Please check if your passport requires visa to enter Georgia.  If you do require a visa, then please start the process as soon as possible. Please visit <a href="https://www.geoconsul.gov.ge/en/visaInformation">https://www.geoconsul.gov.ge/en/visaInformation</a> to apply for your e-visa to Georgia.</p>
            <p>Should you have any questions related to visa matters please contact KIU member <a href="mailto:mariam.naneishvili@kiu.edu.ge">mariam.naneishvili@kiu.edu.ge</a> and CC <a href="mailto:Kadyr.T@celanetwork.org">Kadyr.T@celanetwork.org</a> and <a href="mailto:zarina@celanetwork.org">zarina@celanetwork.org</a>.</p>
        </div>
    </div>
</div>
{{#if showAppForm }}
<hr class="uk-divider-icon">
<div class="uk-section" id="registrationForm">
    <div class="uk-container">
        <h2 class="uk-text-center uk-text-bold cela-text-blue">REGISTRATION FORM</h2>
        <br><br><br>
        <form class="uk-form" action="" method="POST" id="registrationFormData">
            <h4 class="cela-text-blue">PERSONAL INFORMATION</h4>
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">First Name <span
                            class="uk-text-danger">*</span></label>
                    <input class="uk-input" type="text" placeholder="First Name" name="firstName"
                        id="firstName">
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">Last Name <span
                            class="uk-text-danger">*</span></label>
                    <input class="uk-input" type="text" placeholder="Last Name" name="lastName"
                        id="lastName">
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">Country<span
                            class="uk-text-danger">*</span></label>
                    <select class="uk-select" name="country" id="country">
                        <option value="null">Select your country</option>
                        {{#countries}}
                        <option value="{{this}}">{{this}}</option>
                        {{/countries}}
                    </select>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">Network<span
                            class="uk-text-danger">*</span></label>
                    <select class="uk-select" name="networkName" id="networkName">
                        <option value="null">Select your network</option>
                        {{#networks}}
                        <option value="{{this}}">{{this}}</option>
                        {{/networks}}
                    </select>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">Mobile Number <span
                            class="uk-text-danger">*</span></label>
                    <input class="uk-input" type="text"
                        placeholder="Enter your mobile number (please include a country code)" name="mobile" id="mobile">
                </div>
                <div class="uk-margin uk-margin-remove-top">
                    <label class="uk-form-label" for="form-stacked-select">E-mail <span
                            class="uk-text-danger">*</span></label>
                    <input class="uk-input" type="text" placeholder="Your answer" name="email" id="email">
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">Passport Number <span
                            class="uk-text-danger">*</span></label>
                    <input class="uk-input" type="text" placeholder="Enter your Passport Number" name="passportNumber"
                        id="passportNumber">
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">Please indicate if you have any special dietary restrictions</label>
                    <textarea class="uk-textarea" rows="5" placeholder="Your answer" name="dietaryRestrictions"
                        id="dietaryRestrictions"></textarea>
                </div>
                <br>
                <div class="uk-margin">
                    <h4 class="cela-text-blue">REGISTRATION FEE FOR CELA, MELA AND SEALA MEMBERS</h4>
                </div>
                <p>The cost per person is indicated below. Please work out your total and include it in the payment options.</p>
                <div class="uk-margin">
                    <label class="uk-form-label uk-text-italic" for="form-stacked-select">Registration fee for CELA Kutaisi Reunion</label>
                    <select class="uk-select" name="feeKutaisi" id="feeKutaisi">
                        <option value="null">Select option</option>
                        <option value="singleRoomKutaisi">Single room + meals + event (only single rooms are available in Kutaisi)</option>
                    </select>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label uk-text-italic" for="form-stacked-select">Registration fee for CELA Svaneti Post-Reunion*</label>
                    <select class="uk-select" name="feeSvaneti" id="feeSvaneti">
                        <option value="null">Select option</option>
                        <option value="singleRoomSvaneti">Single room + meals + event</option>
                        <option value="sharedRoomSvaneti">Shared room + meals + event (Shared rooms are available only for couples due to covid-related protocol)</option>
                    </select>
                </div>
                <span class="uk-text-small uk-text-meta">*If due to COVID, the region will be locked down 48 hours prior to the trip, 20% of fee will not be reimbursed.</span>
                <h4 class="cela-text-blue">If you are planning to invite a spouse/partner, please provide information below:</h4>
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-select">Full name</label>
                        <input class="uk-input" type="text" placeholder="First Name and Last Name" name="aFullName" id="aFullName">
                    </div>
                    <div class="uk-margin uk-hidden" id="fieldACompany">
                        <label class="uk-form-label" for="form-stacked-select">Occupation/Company</label>
                        <input class="uk-input" type="text" placeholder="Your answer" name="aCompany" id="aCompany">
                    </div>
                    <div class="uk-margin uk-margin-remove-top uk-hidden" id="fieldAEmail">
                        <label class="uk-form-label" for="form-stacked-select">E-mail</label>
                        <input class="uk-input" type="text" placeholder="Your answer" name="aEmail" id="aEmail">
                    </div>
                    <div class="uk-margin uk-hidden" id="fieldAPhone">
                        <label class="uk-form-label" for="form-stacked-select">Phone Number</label>
                        <input class="uk-input" type="text"
                            placeholder="Enter spouse/partner phone number (please include a country code)" name="aPhone" id="aPhone">
                    </div>

                </fieldset>
                <div class="uk-margin">
                    <label class="uk-form-label uk-text-italic" for="form-stacked-select">Optional activities will be offered in the morning of August 17 in Svaneti. Please select one or none of the options below. Fees must be paid at the sight.</label>
                    <select class="uk-select" name="optionalActivity" id="optionalActivity">
                        <option value="null">None</option>
                        {{#optionalActivity}}
                        <option value="{{this}}">{{this}}</option>
                        {{/optionalActivity}}
                    </select>
                </div>
                <div class="uk-margin">
                    <p><u>Your registration fee includes</u> accommodation meals, meeting materials, transport and cultural activities during the Reunion and Post-Reunion, if selected.</p>

                    <p>For any questions pertaining to the Reunion and post-Reunion, feel free to contact:</p>
                    <ul>
                    <li><strong>Kadyr Toktogulov</strong>, email: <a href="mailto:Kadyr.T@celanetwork.org">Kadyr.T@celanetwork.org</a> (for administrative, program & logistics matters)</li>
                    <li><strong>Zarina Chekirbaeva</strong>, email: <a href="mailto:zarina@celanetwork.org">zarina@celanetwork.org</a> (for administrative, program & logistics matters)</li>
                    <li><strong>Zara Janibekyan</strong>, email:  <a href="mailto:zara@celanetwork.org">zara@celanetwork.org</a> (for financial matters)</li>
                    </ul>
                    <strong>For post-Reunion related questions</strong>, please contact <a href="mailto:Ketevan83@gmail.com">Ketevan83@gmail.com</a> and CC <a href="mailto:ia_tsulaia@yahoo.com">ia_tsulaia@yahoo.com</a>.
                </div>
                <div class="uk-margin">
                    <h4 class="cela-text-red uk-text-bold">COVID-19 VACCINATION</h4>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label uk-text-italic" for="form-stacked-select">Have you been vaccinated?</label>
                    <select class="uk-select" name="covidVaccinated" id="covidVaccinated">
                        <option value="null">Select your answer</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div class="uk-margin uk-hidden" id="covidOption">
                    <label class="uk-form-label uk-text-italic" for="form-stacked-select">If No, do you plan to get vaccinated by August?</label>
                    <select class="uk-select" name="covidDoVaccinate" id="covidDoVaccinate">
                        <option value="null">Select your answer</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div class="uk-margin">
                    <h4 class="uk-text-bold cela-text-blue uk-text-center"><span>Registration Fee Amount: <span id="regFee">0 USD</span></span></h4>
                </div>
                <p>
                    We highly encourage everyone to get vaccinated against Covid to make our experience at CELA safe for everyone. Otherwise, regular testing will likely be performed prior and during the Reunion and post-Reunion program to prevent the spread of infection among participants. We need to know an approximate number of participants who will be vaccinated.
                </p>
                <h3 class="cela-text-blue uk-text-center uk-text-bold">WE LOOK FORWARD TO SEEING YOU IN GEORGIA! </h3>



                <hr class="uk-divider-icon">
                <div class="uk-margin">
                    <div class="uk-grid">
                        <div class="uk-width-auto@m uk-first-column">
                            <input class="uk-checkbox cela-checkbox-red" type="checkbox" id="chkAgreement"
                                name="chkAgreement">
                        </div>
                        <div class="uk-width-expand@m uk-text-light uk-text-small">
                            I understand and commit to the terms stated above: <span class="uk-text-danger">*</span>
                        </div>
                    </div>

                </div>
                <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-margin uk-padding-small cela-error uk-hidden"
                    id="applicationErrorBox">
                    <p>Please complete all fields!</p>
                </div>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <input type="submit" href="#" class="uk-button uk-button-large uk-width-1-1 uk-button-primary"
                    id="sendBtn" value="Submit Application" disabled></input>

            </fieldset>
    </div>




    </form>


</div>
{{/if}}
</div>

<div class="uk-section uk-hidden" id="congratsWindow">
    <div class="uk-container">
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-margin">
            <h3 class="uk-card-title uk-text-center uk-text-success uk-text-bold">Congratulation!</h3>
            <p class="uk-text-center">Your Application Form is Submitted</p>
        </div>
    </div>
</div>