<p>Dear {{username}},</p>

<p>You received new application form from https://{{appUrl}} </p>
<p style="color: #f00"><b>Details:</b></p>
<hr>
<p><b>First name:</b> {{firstName}}</p>
<p><b>Last name:</b> {{lastName}}</p>
<p><b>Country:</b> {{country}}</p>
<p><b>Network name:</b> {{networkName}}</p>
<p><b>Mobile:</b> {{mobile}}</p>
<p><b>E-mail:</b> {{email}}</p>
<p><b>Passport Number:</b> {{passportNumber}}</p>
<p><b>Special dietary restrictions:</b> {{dietaryRestrictions}}</p>
<p><b>Registration fee for CELA Kutaisi Reunion:</b> {{Kutaisi}}</p>
<p><b>Registration fee for CELA Svaneti Post-Reunion:</b> {{Svaneti}}</p>
<p><b>Spouse/partner Full name:</b> {{ternary aFullName aFullName 'Empty, no data'}}</p>
<p><b>Spouse/partner Occupation/Company:</b> {{ternary aCompany aCompany 'Empty, no data'}}</p>
<p><b>Spouse/partner E-mail:</b> {{ternary aEmail aEmail 'Empty, no data'}}</p>
<p><b>Spouse/partner Phone number:</b> {{ternary aPhone aEmail 'Empty, no data'}}</p>
<p><b>Optional activity:</b> {{optionalActivity}}</p>
<hr>
<br><br><br>
View this registration form online -> <a
  href="https://{{appUrl}}/cp/registration/{{id}}">https://{{appUrl}}/cp/registration/{{id}}</a>

<p>P.S> Before open link, please authorize in system.